*{
  padding:0px;
  margin:0px;
  }
.website{
  position:fixed;
  top:0px;
  left:0px;
  }
.page{
  position:absolute;
  top:0px;
  left:0px;
  }
.top{
  position:fixed;
  top:0px;
  left:0px;
  width:1000px;
  height:205px;
  background:rgba(188,192,191,0.1);
  }
.LOGO1{
  position:fixed;
  left:20px;
  font-size:60px;
  color:black;
  font-weight:600;
  }
.LOGO2{
  position:fixed;
  left:180px;
  font-size:60px;
  color:pink;
  font-weight:400;
  }
.cbl_search{
  position:fixed;
  top:30px;
  right:360px;
  font-size:50px;
  }
.cbl_login{
  position:fixed;
  top:20px;
  right:250px;
  font-size:30px;
  color:rgba(248,115,152); 
  background-color:rgba(235,235,235,0.8);
  border-radius:50px;
  }
.cbl_xzApp{
  position:fixed;
  top:30px;
  right:10px;
  font-size:40px;
  color:white;
  font-weight:600;
  background-color:rgba(248,115,152);
  border-radius:20px;
  }
.btl{
  position:fixed;
  top:130px;
  left:0px;
  width:100%;
  font-size:40px;
  color:grey;
  }
.content{
  margin-top:180px;
  margin-left:20px;
  margin-right:0px;
  }
/*标题选择动画*/
@keyframes btxz_shouye{
  0%{transform:translate(0px,0);}
  100%{transform:translate(50px,0);}
  }
@keyframes btxz_manjian{
  0%{transform:translate(240px,0px);}
  50%{transform: rotate(180deg);left:240px;}
  100%{transform:translate(240px,0);}
  }
@keyframes btxz_fanju{
  0%{transform:translate(240px,0);}
  50%{transform:translate(540px,0);}
  100%{transform:translate(440px,0)}
  }
@keyframes btxz_dianying{
  0%{transform:rotate(90deg);left:640px;top:-300px;}
  80%{transform:rotate(90deg);left:640px;}
  100%{transform:translate(640px,0);}
  }
@keyframes btxz_mangeng{
  0%{transform:translate(1000px,0);}
  100%{transform:translate(840px,0);}
  }
#btxz{
  position:absolute;
  top:200px;
  left:0px;
  color:rgba(248,115,152);
  background-color:rgba(248,115,152);
  border-radius:50px;
  font-size:1px;
  font-weight:700;
  }

/*视频栏*/
video{
  border-radius:10px;
  width:95%;
  }
xx{
  font-size:30px;
  font-weight:400;
  }
